html {
	font-size: 100%; 
}
body {
	margin: 0;
	padding: 10px 20px; 
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; 
	font-size: .8em; 
	line-height: 1.25; 
	color: black;
	background: white;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; 
}

h1, h2 {
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
	font-weight: normal; 
}

h1 {
	font-size: 3em; 
	font-style: italic;
}

h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; 
}

ul {
	list-style: square;
}

li {
	margin: 0;
	padding: 0;
}


p {
	margin: .75em 0;
}

a {
	border-radius : 20px;
	color: #FF4C00;
	text-decoration: none;
}

a:hover, a:focus {
	color: #FF4C00;
}

a img {
	border: none; 
}
img, input {
	border-radius : 20px; 
}


