
body {
	width:95%;
	min-width:1200px;
	margin: auto;
	padding-top: 5px;
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; 
	font-size: .8em; 
	line-height: 1.25; 
	color: #181A12;
	background: #B0DFFF;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; 
}

h1, h2 {
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
	font-weight: normal; 
}

h1 {
	font-size: 3em; 
	font-style: italic;
}

h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; 
}

ul {
	list-style: square;
}

li {
	margin: 0;
	padding: 0;
}


p {
	margin: .75em 0;
}

a {
	border-radius : 20px;
	color: #FF4C00;
	text-decoration: none; 
}


a img {
	border: none; 
}

img, input {
	border-radius : 20px; 
}

div {
	border-radius : 20px;
}


#entete{
	padding-top: 0px;
	padding-bottom: 30px;
}

#langue {
	float:right;
}

#sous-entete {
	clear:both;
}

#logo h1 {
	float: left;
	margin-top: 0px;
	}
	
#logo h1 a img{
	float: left;
	padding : 10px;
	}
	

	


#pub {
	margin: auto;
	width: 500px;
}



#login {	
	float: right;
	color: #FF4C00;
}

#centre {
	margin: auto;
	width:100%;
}

#navigation {
	float:left;
	background: #F7FFD9;
	box-shadow: 10px 10px 5px #888;
	width: 180px;
	padding: 10px 20px;
}

#navigation ul li {
	padding-top: 5px;
	padding-bottom: 5px;
}

#navigation ul li a:hover, #navigation ul li a:focus {
	background: #B0DFFF;
}
#navigation ul {
	margin: 0;
	padding: 20px 10px 20px 10px;
	list-style: none;
}

#navigation ul li a {
	display: block;
	height: 1%;
	padding: 6px 20px 6px 20px;
	line-height: 1.5;
	font-size: .9em;
}


#principal {
	margin:auto;
	width:60%;
	color: #181A12;
	background: #F7FFD9;
	box-shadow: 10px 10px 5px #888;
	padding: 10px 20px;
}



#principal input {
	width: 200px;
}
#secondaire {
	float:right;
	background: #F7FFD9;
	color: #181A12;
	box-shadow: 10px 10px 5px #888;
	width: 180px;
	padding: 10px 20px;
}



