body {
	width:95%;
	margin: auto;
	min-width:1200px;
	padding-top: 5px;
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; 
	font-size: .8em; 
	line-height: 1.25; 
	color: #181A12;
	background: #B0DFFF;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; 
}

h1, h2 {
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
	font-weight: normal; 
}

h1 {
	font-size: 3em; 
	font-style: italic;
}

h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; 
}

ul {
	list-style: square;
}

li {
	margin: 0;
	padding: 0;
}

p {
	margin: .75em 0;
}

a {
	border-radius : 20px;
	color: #FF4C00;
	text-decoration: none; 
}

a img {
	border: none; 
}



div {
	border-radius : 20px;
}


#entete{
	padding-top: 0px;
	padding-bottom: 30px;
}

#langue {
	float:right;
}

#sous-entete {
	clear:both;
}

#logo h1 {
	float: left;
	margin-top: 0px;
	}
	
#logo h1 a img{
	float: left;
	padding : 10px;
}
	

#pub {
	margin: auto;
	width: 500px;
}

#login {	
	float: right;
	color: #FF4C00;
}

#login p {
	margin: 0px;
	text-align: right;
}

#centre {
	margin: auto;
	margin-bottom: 30px;
	width:100%;
}

#principal {
	width:60%;
	margin:auto;
	color: #181A12;
	background: #F7FFD9;
	box-shadow: 10px 10px 5px #888;
	padding: 10px 20px;
	min-height: 100%;
}

#principal {
	min-height: 700px;
}

#secondaire {
	float:right;
	background: #F7FFD9;
	color: #181A12;
	box-shadow: 10px 10px 5px #888;
	width: 180px;
	padding: 10px 20px;
}

#pied_page {
	width:98%;
	margin:auto;
	color: #181A12;
	background: #F7FFD9;
	box-shadow: 10px 10px 5px #888;
	padding: 10px 20px;
	margin-bottom: 10px;
	height: 19px;
	text-align: center;
}

/*dictionnaire*/

#textDico {
	height : 80px;
	width: 500px;
	float: left;
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
	font-size: 15px;
}
#imageDico {
	height: 40px;
	width: 40px;
	float:right;
	padding-right : 100px;
	background: #F7FFD9;
}

/*Jeu Concours */

#resultatJeu {
	border-style : ridge;
	border-width : 2px;
	border-color: black;
	border-radius: 0px;
	height: 100px;
	width:300px;
	padding-top: 10px;
	padding-left: 10px;
}

#grilleJeu {
/* 	pading-right : 50 px; */
	text-align:center;
	padding-top : 10px;
	font-size: 20px;
}

/*Page d'erreur*/

.errorMessage {
	font-size: 16px;
}

/*Grille du jour*/

#grilleJour {
	/margin: auto;
	/width: 100%;
}

#grilleJour img {
	width: 400px;
	margin: auto;
	border: 1px solid black;
}

/*Choixgrille*/

.tableGrilles {
	width: 80%;
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
}

.tableGrilles td {
	border-top: 1px solid black;
	height: 20px;
}

.lignePaire {
	background-color: #FFFF99;
}

/*Mes grilles**/

table.mesGrilles {
	width: 600px;
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 120%;
}

table.mesGrilles td, table.mesGrilles th {
	border: 1px solid black;
}

/*Moderation*/

table.grilleAValider {
	width: 600px;
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 120%;
	margin-bottom: 30px;
}

table.grilleAValider td, table.grilleAValider th {
	border: 1px solid black;
}

/*Admin


/* **********************************Menu********************************************** */

#navigation{
	width: 180px;
	position: relative;
	top: 0;
	left: 0;
}

ul#navmenu{
	position:absolute;
	z-index: 999999;
	border-radius : 20px;
	background: #F7FFD9;
	box-shadow: 10px 10px 5px #888;
}

ul#navmenu,
ul#navmenu li,
ul#navmenu ul {
	margin: 0;
	padding: 3px 0px 10px 0px;
	position: absolute; 
	width: 180px;
	background: #F7FFD9;
	border-radius : 20px;
}

ul#navmenu li {
  display: block !important; /*For GOOD browsers*/
  display: inline; /*For IE*/
  position: relative;
}

/* Root Menu */
ul#navmenu a {
	display: block;
	height: 1%;
	padding: 6px 10px 6px 10px;
	line-height: 1.5;
	font-size: 1em;
	text-decoration: none;
	color: #FF4C00;
	text-align: center;
}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
	background: #B0DFFF;
}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
	background: #F7FFD9;
}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
	background: #B0DFFF;
}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
	background: #F7FFD9;
}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
	background: #B0DFFF;
}

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
	background: #F7FFD9;
}

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
	background: #B0DFFF; 
}

ul#navmenu ul,
ul#navmenu ul ul,
ul#navmenu ul ul ul{
  display: none;
  position: absolute;
  top: 0px;
  left: 180px;
  z-index: 999999;
  box-shadow: 10px 10px 5px #888;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
  display: none;
}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
  display: block;
}


img, input {
	border-radius : 20px; 
}

