body {
	background-repeat:repeat-x;
	background-position:top;
	background-color:#e8e8e8;
	font:12px Arial, Helvetica, sans-serif;
}

#top{
	width: auto;
	height: 100px;
	background-color: rgb(100,100,100);
}

#logo{
	text-align: left;
	padding: 15px 5px 0px 5px;
}

a img
{
	border: none;
}

#bottom{
	width: auto;
	height: 50px;
	background-color: rgb(100,100,100);
}

#connexioncss{
	text-align: right;
	padding-left: 5px;
}

/*ligne pour separer*/
#lignetop {
	width:auto;
	text-align:left; 
	border:2px solid rgb(192,203,215);
}

#ligneright {
	border-right: 1px solid #646464;
	height:50px;
}

#ligneleft {
	border-left: 1px dashed #000;
	height:100px;
	text-align: center;
}

#lignebottom {	
	width:auto;
	text-align:left;
	margin-top:4px; 
	border:2px solid rgb(192,203,215);
}

#barre {
	height:30px;
	width:auto;
	background-color:rgb(127,150,173);
}

#content {
	float: left;
	margin: 5px 220px 10px 200px;
}

#sidebar1 {
	float: left;
	width: 190px;
}

#sidebar2 {
	float: right;
	width: 210px;
	margin: 5px 5px 5px 5px;
}

#footer {height:42px;clear:both;padding-top:5px;margin-top:20px ;background:url(../images/footer.jpg);background-repeat:no-repeat;background-position:bottom;margin-bottom:0px}
#footer p {margin:0;font-size:10px;text-align:center;color:#fff}
#footer a {color:#fff}

/*add menu */
	.glossymenu{
		margin: 5px 0;
		padding: 0;
		width: 170px; /*width of menu*/
		border: 1px solid #9A9A9A;
		border-bottom-width: 0;
	}
	
	.glossymenu a.menuitem{
		background: black url(../images/glossyback.gif) repeat-x bottom left;
		font: bold 14px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
		color: white;
		display: block;
		position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
		width: auto;
		padding: 4px 0;
		padding-left: 10px;
		text-decoration: none;
	}
	
	
	.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
		color: white;
	}
	
	.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
		position: absolute;
		top: 5px;
		right: 5px;
		border: none;
	}
	
	.glossymenu a.menuitem:hover{
		background-image: url(../images/glossyback2.gif);
	}
	
	.glossymenu div.submenu{ /*DIV that contains each sub menu*/
		background: white;
	}
	
	.glossymenu div.submenu ul{ /*UL of each sub menu*/
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	.glossymenu div.submenu ul li{
		border-bottom: 1px solid blue;
	}
	
	.glossymenu div.submenu ul li a{
		display: block;
		font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
		color: black;
		text-decoration: none;
		padding: 2px 0;
		padding-left: 10px;
	}
	
	.glossymenu div.submenu ul li a:hover{
		background: #DFDCCB;
		colorz: white;
	}
	#rechercheMotif{
	float: right;
	}
	#outils{
	float: left;
	}